/* Section of CSS style is for styling the webpage in a box model (a webpage box model) */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Section of CSS style is for styling the body for the webpage */
body {
    background-color: #d9dcd6;
}

/* Section of CSS style is for position and styling the header in a box model (a header box model) for the webpage. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Section of CSS style is for styling the first heading in the header box model */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Section of CSS style is for styling a few characters of the first heading */
.seo {
    color: #d9dcd6;
}

/* Section of CSS styles is for positioning and styling the navbar within the header box model */
.nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Section of CSS sytles is for styling the unordered list */
ul {
    list-style-type: none;
}

/* Section of CSS styles is for positioning and styling of the listed items within the unordered list */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Section of CSS styles is for styling the relative URLs of the listed items within the unordered list */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Section of CSS sytles is for styling the paragraphs for the webpage */
p {
    font-size: 16px;
}

/* Section of CSS style is for positioning and styling of the background image for the webpage */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Section of CSS style is for positioning and styling all the contents in a box model (a contents box model) */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Section of CSS style is for positioning and styling of each individual content as a box mode (a content box model) within the contents box model*/
.content-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Section of CSS style is for positioning and styling of each individual content heading as a box model within the content box model */
.content-heading {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Section of CSS style is for positioning and styling two specific content images within their corresponding content box model */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* Section of CSS style is for positioning and styling one specific content image within its corresponding contect box model */
.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* Section of CSS style is for positioning and styling for all the benefits in a box model (a benefits box model) */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Section of CSS style is for positioning and styling each benefit in a box model (a benefit box model) within the benefits box model */
.benefit-style {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Section of CSS style is for positioning the heading of each benefit within the benefit box model */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Section of CSS style is for positioning and styling for each benefit image within its corresponding benefit box model */
.benefit-images {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Section of CSS style is for positioning and styling for the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Section of CSS style is for styling one of the heading within the footer */
#footer-h2 {
    font-size: 20px;
}